@{
    ViewBag.Title = "流水账信息";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .modal-body {
        height: 100%;
    }
</style>

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar" class="toolbar">
                <div style="float: left; margin-left: 10px">
                    <span>科目：</span>
                </div>
                <div style="float: left; margin-left: 10px; ">
                    <select class="form-control" id="sType">
                        <option value="" selected="selected">全部</option>
                        @*<option value=" 招聘费用">招聘费用</option>
                            <option value="固定资产">固定资产</option>
                            <option value="用餐费用">用餐费用</option>
                            <option value="应付福利费">应付福利费</option>
                            <option value="预付账款">预付账款</option>
                            <option value="办公费用">办公费用</option>
                            <option value="管理费用">管理费用</option>
                            <option value="工伤费用">工伤费用</option>
                            <option value="公关费用">公关费用</option>*@
                        <option value="办公费">办公费</option>
                        <option value="差旅费">差旅费</option>
                        <option value="油费">油费</option>
                        <option value="固定资产">固定资产</option>
                        <option value="住宿费">住宿费</option>
                        <option value="招聘费">招聘费</option>
                        <option value="水电费">水电费</option>
                        <option value="房租费">房租费</option>
                        <option value="物业费">物业费</option>
                        <option value="税金">税金</option>
                        <option value="餐费">餐费</option>
                        <option value="工伤费">工伤费</option>
                        <option value="公关费">公关费</option>
                        <option value="福利">福利</option>
                        <option value="其它">其它</option>
                    </select>
                </div>
                <div style="float: left; margin-left: 10px; ">
                    <span>是否核销：</span>
                </div>
                <div style="float: left; margin-left: 10px; ">
                    <select class="form-control" id="sChecked">
                        <option value="" selected="selected">全部</option>
                        <option value="是">是</option>
                        <option value="否">否</option>
                    </select>
                </div>
                <div style="float: left; margin-left: 10px; "><span>提报人：</span></div>
                <div style="float: left; margin-left: 10px; width: 8%; "><input id="sApplicant" class="form-control" /></div>
                <div style="float: left; margin-left: 10px; "><span>日期：</span></div><div style="float: left; margin-left: 10px; width: 10%"><input id="sDate" class="form-control" /></div><div style="float: left; margin-left: 10px"><span>至</span></div><div style="float: left; margin-left: 10px; width: 10%"><input id="sDate2" class="form-control" /></div>
                <div style="float: left; margin-left: 10px"><span>查询金额合计：</span></div>
                <div style="float: left; margin-left: 10px; width: 10%"><input id="totalThis" class="form-control" readonly="readonly" value="0" /></div>
                <div style="float: right; margin-left: 10px; margin-top: 5px; " class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="NewRecord">添加记录</div>
                <div style="float: right; margin-left: 10px; margin-top: 5px" class="btn btn-primary" onclick="Search()">查询</div>

            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <input style="visibility:hidden" type="hidden" id="iGuid" data-bind="value: iGuid">
                            <div class="form-group">
                                公司：
                                <select class="form-control" id="iCompanyId" data-bind="value: iCompanyId">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Companies)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                项目：<select class="form-control" id="iProjectId" data-bind="value: iProjectId">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Projects)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                日期：<input type="text" class="form-control" id="iDate" data-bind="value: iDate" placeholder="请输入日期">
                            </div>
                            <div class="form-group">
                                事项：<input type="text" class="form-control" id="iEvent" data-bind="value: iEvent" placeholder="请输入事项">
                            </div>
                            <div class="form-group">
                                提报人：<input type="text" class="form-control" id="iApplicant" data-bind="value: iApplicant" readonly="readonly" placeholder="请输入提报人">
                            </div>
                            <div class="form-group">
                                科目：<select class="form-control" id="iType" data-bind="value: iType">
                                    <option value="" selected="selected">请选择</option>
                                    @*<option value=" 招聘费用">招聘费用</option>
                                        <option value="固定资产">固定资产</option>
                                        <option value="用餐费用">用餐费用</option>
                                        <option value="应付福利费">应付福利费</option>
                                        <option value="预付账款">预付账款</option>
                                        <option value="办公费用">办公费用</option>
                                        <option value="管理费用">管理费用</option>
                                        <option value="工伤费用">工伤费用</option>
                                        <option value="公关费用">公关费用</option>*@
                                    <option value="办公费">办公费</option>
                                    <option value="差旅费">差旅费</option>
                                    <option value="油费">油费</option>
                                    <option value="固定资产">固定资产</option>
                                    <option value="住宿费">住宿费</option>
                                    <option value="招聘费">招聘费</option>
                                    <option value="水电费">水电费</option>
                                    <option value="房租费">房租费</option>
                                    <option value="物业费">物业费</option>
                                    <option value="税金">税金</option>
                                    <option value="餐费">餐费</option>
                                    <option value="工伤费">工伤费</option>
                                    <option value="公关费">公关费</option>
                                    <option value="福利">福利</option>
                                    <option value="其它">其它</option>
                                </select>
                            </div>
                            <div class="form-group">
                                金额：<input type="text" class="form-control" id="iAmount" data-bind="value: iAmount" onkeyup="clearNoNum(this)" onblur="clearNoNum(this)" maxlength="11" placeholder="请输入金额">
                            </div>
                            <div class="form-group">
                                备注：<input type="text" class="form-control" id="iNote" data-bind="value: iNote" placeholder="请输入备注">
                            </div>
                            <div class="form-group">
                                是否核销：<br />
                                <label class="radio-inline">
                                    <input type="radio" name="iChecked" data-bind="checked: iChecked" value="是"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="iChecked" data-bind="checked: iChecked" value="否">否
                                </label>
                            </div>
                            <div class="form-group">
                                支付日期：<input type="text" class="form-control" id="iPaidDate" data-bind="value: iPaidDate" placeholder="请输入支付日期">
                            </div>
                            <div class="form-group">
                                核销人：<input type="text" class="form-control" id="iCheckedBy" data-bind="value: iCheckedBy" readonly="readonly">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="removeRecord">删除</button>
                            <button type="button" class="btn btn-primary" id="SaveChanges">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%;height:30px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">修改记录</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="recordId" />
                            <table id="logtable" class="table table-hover"></table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //正则校验两位小数
    function clearNoNum(obj) {
        //先把非数字的都替换掉，除了数字和.
        obj.value = obj.value.replace(/[^\d.]/g, "");
        //保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g, ".");
        //必须保证第一个为数字而不是.
        obj.value = obj.value.replace(/^\./g, "");
        //保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');
        $(obj).trigger("change");
    }

    //bootstraptable 高度
    function tableHeight() {
        return $(window).height() * 0.86;
    }

    function ShowLog(iguid) {
        $("#recordId").val(iguid);
        $('#logtable').bootstrapTable('refresh');
        $('#logModal').modal('toggle');
    }

    //json 日期转字符串
    function ChangeDateFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear()
        + "-"
        + month
        + "-"
        + currentDate;
    }
    //json 日期转字符串
    function ChangeDateTimeFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear()
               + "-"
               + month
               + "-"
               + currentDate
               + " "
               + ((date.getHours() < 10) ? ("0" + date.getHours()) : date.getHours())
               + ":"
               + ((date.getMinutes() < 10) ? ("0" + date.getMinutes()) : date.getMinutes());

    }

    //查询
    function Search() {
        $('#mytab').bootstrapTable('refresh');
    }
    function ViewModel() {
        var self = this;
        self.iGuid = ko.observable("");
        self.iCompanyId = ko.observable("");
        self.iProjectId = ko.observable("");
        self.iDate = ko.observable("");
        self.iEvent = ko.observable("");
        self.iType = ko.observable("");
        self.iApplicant = ko.observable("");
        self.iAmount = ko.observable("");
        self.iChecked = ko.observable("");
        self.iNote = ko.observable("");
        self.iAppNo = ko.observable("");
        self.iRecordStatus = ko.observable("");
        self.iCreatedOn = ko.observable("");
        self.iCreatedBy = ko.observable("");
        self.iUpdatedOn = ko.observable("");
        self.iUpdatedBy = ko.observable("");
        self.iStatus = ko.observable("1");
        self.iIsDeleted = ko.observable("0");
        self.iCheckedBy = ko.observable("");
        self.iPaidDate = ko.observable("");
    }

    $(function () {

        $("[name=iChecked]").attr("disabled", true);
        $("#iPaidDate").attr("disabled", true);

        $("[name=iChecked]").click(function () {
            if ($(this).val() == "是") {
                myViewModel.iCheckedBy("@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserName");
                myViewModel.iPaidDate("@DateTime.Now.ToString("yyyy-MM-dd")");
            } else {
                myViewModel.iCheckedBy("");
                myViewModel.iPaidDate("");
            }
        });

        //重置函数
        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //Enter 键函数
        document.onkeydown = function (e) {
            e = e || window.event;
            if (e.keyCode == 13) {
                Search();
            }
        }
        //禁用功能
        if (window.userType != "超级管理员") {
            $("#iCompanyId").attr("disabled", true);
            $("#iProjectId").attr("disabled", true);
        }

        //权限判定
        if (window.menuRights == "r") {
            $("#NewRecord").hide();
        }
        //查询日期选择绑定
        $("#sDate").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sDate").datetimepicker("setEndDate", $("#sDate2").val());
        });
        $("#sDate2").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sDate2").datetimepicker("setStartDate", $("#sDate").val());
        });
        //弹窗日期绑定
        $('#iDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        if (window.userType == "普通用户") { //当前日期三天以内
            var end = new Date();
            var start = new Date(end.getTime() - 3 * 24 * 60 * 60 * 1000);
            $('#iDate').datetimepicker("setStartDate", start);
            $('#iDate').datetimepicker("setEndDate", end);
        }
        $('#iPaidDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        //必填校验
        $("#iCompanyId").change(function () {
            var value = $("#iCompanyId").val();
            if (value != "-") {
                $('#iCompanyId').removeClass("warning");
            }
            else {
                $('#iCompanyId').addClass("warning");
            }
        });
        $("#iProjectId").change(function () {
            var value = $("#iProjectId").val();
            if (value != "-") {
                $('#iProjectId').removeClass("warning");
            }
            else {
                $('#iProjectId').addClass("warning");
            }
        });

        $("#iDate").change(function () {
            var value = $("#iDate").val();
            if (value.length > 0) {
                $('#iDate').removeClass("warning");
            }
            else {
                $('#iDate').addClass("warning");
            }
        });
        $("#iEvent").blur(function () {
            var value = $("#iEvent").val();
            if (value.length > 0) {
                $('#iEvent').removeClass("warning");
            }
            else {
                $('#iEvent').addClass("warning");
            }
        });
        $("#iType").blur(function () {
            var value = $("#iType").val();
            if (value.length > 0) {
                $('#iType').removeClass("warning");
            }
            else {
                $('#iType').addClass("warning");
            }
        });
        $("#iAmount").blur(function () {
            var value = $("#iType").val();
            if (value.length > 0) {
                $('#iAmount').removeClass("warning");
            }
            else {
                $('#iAmount').addClass("warning");
            }
        });


        $('#mytab').bootstrapTable({
            url: "/FinanceAjax/GetAllJournal",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iUpdatedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: false,//ENTER键搜索
            height: tableHeight(),//高度调整
            search: true,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 100, 500, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            showRefresh: false,//刷新按钮
            showColumns: true,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            queryParams: function getParams(params) {
                params.sCompanyId = $("#companySelect").val();
                params.sProjectId = $("#projectSelect").val();
                params.sType = $("#sType").val();
                params.sApplicant = $("#sApplicant").val();
                params.sChecked = $("#sChecked").val();
                params.sDate = $("#sDate").val();
                params.sDate2 = $("#sDate2").val();
                return params;
            },
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#mytab').bootstrapTable('getOptions').pageNumber - 1) * $('#mytab').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
                 {
                     field: "iShowLog", title: "修改记录", visible: false, formatter: function (value, row, index) {
                         return '<a href="#" onclick="ShowLog(\'' + row.iGuid + '\')">点击查看</a>';
                     }
                 },
                 { field: "iGuid", title: "iGuid", visible: false, switchable: false }
                 , { field: "iCompanyId", title: "公司", visible: false }
                 , { field: "iProjectId", title: "项目", visible: false }
                 , {
                     field: "iDate", title: "日期", sortable: true, formatter: function (value, row, index) {
                         return ChangeDateFormat(value);
                     }
                 }
                 , { field: "iEvent", title: "事项", sortable: true }
                 , { field: "iType", title: "科目", sortable: true }
                 , { field: "iApplicant", title: "提报人", sortable: true }
                 , { field: "iAmount", title: "金额", sortable: true }
                 , { field: "iChecked", title: "是否核销", sortable: true }
                 , {
                     field: "iPaidDate", title: "支付日期", sortable: true, formatter: function (value, row, index) {
                         return ChangeDateFormat(value);
                     }
                 }
                 , { field: "iNote", title: "备注", sortable: true }
                 , { field: "iRecordStatus", title: "性质", sortable: true }
                 , { field: "iAppNo", title: "流程单号", sortable: true }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                if (window.menuRights == "r" || window.userType == "普通用户") {  //普通用户无法修改
                    return;
                }
                if (window.userType == "超级管理员") {
                    $("#iApplicant").removeAttr("readonly");
                }
                $("#addModalLabel").html("修改记录");
                $('#addModal').modal('toggle');

                if (window.userType != "普通用户") {
                    $("#removeRecord").show();
                }
                else {
                    $("#removeRecord").hide();
                }
                $("#iProjectId").removeClass("warning");
                $('#iCompanyId').removeClass("warning");
                $("#iDate").removeClass("warning");
                $('#iEvent').removeClass("warning");
                $('#iType').removeClass("warning");
                $('#iAmount').removeClass("warning");

                var width = $("#addModal").width();
                var height = $("#addModal").height();
                var $shade = $('<div id="waiting"></div>');
                $shade.css({ width: '100%', height: '100%', position: 'absolute', top: 0, left: 0, background: '#fff url(/Content/images/waiting.gif) center center no-repeat', opacity: 0.4 });
                $("#addModal").append($shade);
                $.get("/FinanceAjax/GetJournal?iGuid=" + row.iGuid, function (result) {
                    if (result.success) {
                        if (result.data.iChecked == "是" && window.userType != "超级管理员") {  //如果已核销则不能再修改了
                            $("#SaveChanges").hide();
                        }
                        myViewModel.iGuid(result.data.iGuid);
                        myViewModel.iCompanyId(result.data.iCompanyId);
                        myViewModel.iProjectId(result.data.iProjectId);
                        myViewModel.iDate(ChangeDateFormat(result.data.iDate));
                        myViewModel.iEvent(result.data.iEvent);
                        myViewModel.iType(result.data.iType);
                        myViewModel.iApplicant(result.data.iApplicant);
                        myViewModel.iAmount(result.data.iAmount);
                        myViewModel.iChecked(result.data.iChecked);
                        myViewModel.iCheckedBy(result.data.iCheckedBy);
                        myViewModel.iPaidDate(ChangeDateFormat(result.data.iPaidDate));
                        myViewModel.iNote(result.data.iNote);
                        myViewModel.iAppNo(result.data.iAppNo);
                        myViewModel.iRecordStatus(result.data.iRecordStatus);
                        myViewModel.iCreatedOn(result.data.iCreatedOn);
                        myViewModel.iCreatedBy(result.data.iCreatedBy);
                        myViewModel.iUpdatedOn(result.data.iUpdatedOn);
                        myViewModel.iUpdatedBy(result.data.iUpdatedBy);
                        myViewModel.iStatus(result.data.iStatus);
                        myViewModel.iIsDeleted(result.data.iIsDeleted);
                        if (result.data.iChecked == "是" || result.data.iRecordStatus == "草稿") {
                            $("[name=iChecked]").attr("disabled", true);
                            $("#iPaidDate").attr("disabled", true);
                        } else {
                            $("[name=iChecked]").attr("disabled", true);
                            $("#iPaidDate").attr("disabled", true);
                        }
                    }
                    else {
                        console.log(result.msg);
                        toastr.error('获取数据失败！');
                    }
                    $shade.remove();
                });
            },
            onLoadSuccess: function (data) {
                $("#totalThis").val(data.sum);
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            }
        });

        $('#logtable').bootstrapTable({
            url: "/CommonAjax/GetModifyRecords",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iModifiedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: true,//ENTER键搜索
            height: tableHeight() * 0.84,//高度调整
            search: false,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 20, 30, 50, 100, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                //params obj
                params.recordid = $("#recordId").val();
                params.tableName = "Journal";
                return params;
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: false,//刷新按钮
            showColumns: false,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#logtable').bootstrapTable('getOptions').pageNumber - 1) * $('#logtable').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
            {
                field: "iModifiedOn", title: "修改时间", formatter: function (value, row, index) {
                    return ChangeDateTimeFormat(value);
                }
            }
            , { field: "iModifiedBy", title: "修改人" }
            , { field: "iModifiedContent", title: "修改明细" }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
            },
            locale: "zh-CN",//中文支持,
            detailView: false //是否显示详情折叠
        });

        if (window.userType != "普通用户") {
            $('#mytab').bootstrapTable('showColumn', 'iCompanyId');
            $('#mytab').bootstrapTable('showColumn', 'iProjectId');
        }
        $("#NewRecord").click(function () {
            $("#removeRecord").hide();
            $("[name=iChecked]").attr("disabled", true);
            $("#iPaidDate").attr("disabled", true);

            $('#iDate').addClass("warning");
            $('#iEvent').addClass("warning");
            $('#iType').addClass("warning");
            $('#iAmount').addClass("warning");

            myViewModel.iGuid("");
            myViewModel.iProjectId('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject');
            myViewModel.iCompanyId('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentCompany');
            myViewModel.iDate("");
            myViewModel.iEvent("");
            myViewModel.iType("");
            myViewModel.iApplicant("@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserName");
            myViewModel.iAmount("");
            myViewModel.iChecked("否");
            myViewModel.iCheckedBy("");
            myViewModel.iPaidDate("");
            myViewModel.iNote("");
            myViewModel.iAppNo("");
            myViewModel.iRecordStatus("草稿");

            myViewModel.iCreatedOn("");
            myViewModel.iCreatedBy("");
            myViewModel.iUpdatedOn("");
            myViewModel.iUpdatedBy("");
            myViewModel.iStatus("1");
            myViewModel.iIsDeleted("0");
            if ($("#iCompanyId").val() == "-") {
                $('#iCompanyId').addClass("warning");
            }
            else {
                $('#iCompanyId').removeClass("warning");
            }
            if ($("#iProjectId").val() == "-") {
                $('#iProjectId').addClass("warning");
            }
            else {
                $('#iProjectId').removeClass("warning");
            }
            $("#addModalLabel").html("添加记录");
        });

        $("#SaveChanges").click(function () {
            var warnings = $(".warning");
            if (warnings && warnings.length > 0) {
                toastr.error('数据验证未通过！');
                return;
            }
            $(this).attr({ "disabled": "disabled" });
            var param = {};
            param.jsonString = ko.toJSON(myViewModel);
            $.ajax({
                url: "/FinanceAjax/JournalSaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');
                        $('#mytab').bootstrapTable('refresh');
                    }
                    else {
                        console.log(data);
                        toastr.error('保存数据失败！');
                    }
                    $('#addModal').modal('toggle');
                    $("#SaveChanges").removeAttr("disabled");
                }
            });
        });
        $("#removeRecord").click(function () {
            if (confirm("确认要删除？")) {
                var param = {};
                myViewModel.iIsDeleted("1");
                param.jsonString = ko.toJSON(myViewModel);
                $.ajax({
                    url: "/FinanceAjax/JournalSaveChanges",
                    type: "POST",
                    data: param,
                    dataType: 'text',
                    success: function (data) {
                        if (data == "success") {
                            toastr.success('删除成功！');
                            $('#mytab').bootstrapTable('refresh');
                        }
                        else {
                            console.log(data);
                            toastr.error('删除数据失败！');
                        }
                        $('#addModal').modal('toggle');
                    }
                });
            }
        });

        var myViewModel = new ViewModel();
        ko.applyBindings(myViewModel);
    })
</script>
