@{
    ViewBag.Title = "返费信息";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .modal-body {
        height: 100%;
    }
</style>

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar" class="toolbar">
                <div style="float: left; margin-left: 10px">
                    <span>编辑状态：</span>
                </div>
                <div style="float: left; margin-left: 10px">
                    <select class="form-control" id="sEditType">
                        <option value="所有">所有</option>
                        <option value="已编辑">已编辑</option>
                        <option value="未编辑">未编辑</option>

                    </select>
                </div>
                <div style="float: left; margin-left: 10px">
                    <span>付款情况：</span>
                </div>
                <div style="float: left; margin-left: 10px">
                    <select class="form-control" id="sFirstReturnFeePayment">
                        <option value="">全部</option>
                        <option value="已付">已付</option>
                        <option value="未付">未付</option>

                    </select>
                </div>
                <div style="float: left; margin-left: 10px"><span>姓名：</span></div>
                <div style="float: left; margin-left: 10px; width: 8%"><input id="sName" class="form-control" /></div>
                <div style="float: left; margin-left: 10px"><span>身份证号：</span></div>
                <div style="float: left; margin-left: 10px; width: 13%"><input id="sIdCard" class="form-control" /></div>
                <div style="float: left; margin-left: 10px">
                    <span>劳务所名称：</span>
                </div>
                <div style="float: left; margin-left: 10px; width: 8%"><input id="sLaborName" class="form-control" /></div>

                <div style="float: left; margin-left: 10px"><span>返费天数：</span></div>
                <div style="float: left; margin-left: 10px; width: 8%"><input id="sFirstReturnFeeDays" class="form-control" /></div>

                <div style="float: left; margin-left: 10px;"><span>返费日期：</span></div>
                <div style="float: left; margin-left: 10px; width: 8%"><input id="sFirstReturnFeeDate" class="form-control" /></div>
                <div style="float: left; margin-left: 10px;"><span>至</span></div><div style="float: left; margin-left: 10px; width: 8%"><input id="sFirstReturnFeeDate2" class="form-control" /></div>
                <div style="float:left;margin-left:10px"><span>入职日期：</span></div><div style="float: left; margin-left: 10px;width:8%"><input id="sEmployeeDate" class="form-control" /></div>
                <div style="float: left; margin-left: 10px"><span>至</span></div><div style="float: left; margin-left: 10px; width: 8%"><input id="sEmployeeDate2" class="form-control" /></div>
                <div style="float:left;margin-left:10px"><span>支付日期：</span></div><div style="float: left; margin-left: 10px; width: 8%"><input id="sFirstReturnFeeActualPayDate" class="form-control" /></div>
                <div style="float: left; margin-left: 10px"><span>至</span></div><div style="float: left; margin-left: 10px; width: 8%"><input id="sFirstReturnFeeActualPayDate2" class="form-control" /></div>

                <div style="float: right; margin-left: 10px; margin-top: 5px" class="btn btn-primary" onclick="ExportData()">数据导出</div>
                <div style="float: right; margin-left: 10px; margin-top: 5px" class="btn btn-primary" data-toggle="modal" data-target="#importModal">数据导入</div>
                <div style="float: right; margin-left: 10px; margin-top: 5px" class="btn btn-primary" onclick="Search()">查询</div>

            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">修改记录</h4>
                        </div>
                        <div class="modal-body">
                            <input style="visibility:hidden" type="hidden" id="iGuid" data-bind="value: iGuid">
                            <div class="form-group">
                                项目名称：
                                <select class="form-control" id="iItemName" data-bind="value: iItemName">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Projects)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                所在公司：
                                <select class="form-control" id="iCompany" data-bind="value: iCompany">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Companies)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group"> 工号：<input type="text" class="form-control" id="iEmpNo" data-bind="value: iEmpNo" placeholder="" readonly="readonly"></div>
                            <div class="form-group"> 姓名：<input type="text" class="form-control" id="iName" data-bind="value: iName" placeholder="" readonly="readonly"></div>
                            <div class="form-group"> 身份证号：<input maxlength="18" onkeyup="value=value.replace(/^[a-zA-Z]+\D*|^\d{0,16}[a-zA-Z]+|[^0-9Xx]/g,'') " type="text" class="form-control" id="iIdCard" data-bind="value: iIdCard" placeholder="" readonly="readonly"></div>

                            <div class="form-group"> 入职日期：<input type="text" class="form-control" id="iEmployeeDate" data-bind="value: iEmployeeDate" placeholder="" readonly="readonly"></div>
                            <div class="form-group"> 离职日期：<input type="text" class="form-control" id="iResignDate" data-bind="value: iResignDate" placeholder="" readonly="readonly"></div>
                            <div class="form-group"> 在职天数：<input type="text" class="form-control" id="iOnJobDays" data-bind="value: iOnJobDays" placeholder="" readonly="readonly"></div>
                            <div class="form-group"> 劳务名称：<input type="text" class="form-control" id="iLaborName" data-bind="value: iLaborName" placeholder="请输入劳务名称"></div>
                            <div class="form-group"> 劳务所银行支行：<input type="text" class="form-control" id="iLaborCampBank" data-bind="value: iLaborCampBank" placeholder="请输入劳务所银行支行"></div>
                            <div class="form-group"> 劳务所账号：<input type="text" class="form-control" id="iLaborCampBankAccount" data-bind="value: iLaborCampBankAccount" placeholder="请输入劳务所账号"></div>
                            <div class="form-group"> 劳务所人姓名：<input type="text" class="form-control" id="iLaborCampBankPerson" data-bind="value: iLaborCampBankPerson" placeholder="请输入劳务所人姓名"></div>
                            <div class="form-group"> 面试日期：<input type="text" class="form-control" id="iInterviewDate" data-bind="value: iInterviewDate" placeholder="请输入面试日期"></div>
                            <div class="form-group"> 一级返费金额：<input type="text" class="form-control" id="iFirstReturnFeeAmount" data-bind="value: iFirstReturnFeeAmount" placeholder="请输入一级返费金额"></div>
                            <div class="form-group"> 一级返费天数：<input type="text" class="form-control" id="iFirstReturnFeeDays" data-bind="value: iFirstReturnFeeDays" placeholder="请输入一级返费天数"></div>
                            <div class="form-group"> 一级返费日期：<input type="text" class="form-control" id="iFirstReturnFeeDate" data-bind="value: iFirstReturnFeeDate" placeholder="请输入一级返费日期"></div>
                            <div class="form-group">
                                一级付款情况：
                                <select class="form-control" id="iFirstReturnFeePayment" data-bind="value: iFirstReturnFeePayment">
                                    <option value="-">请选择</option>
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                            <div class="form-group"> 一级实际支付日期：<input type="text" class="form-control" id="iFirstReturnFeeActualPayDate" data-bind="value: iFirstReturnFeeActualPayDate" placeholder="请输入一级实际支付日期"></div>
                            <div class="form-group"> 二级返费金额：<input type="text" class="form-control" id="iSecondReturnFeeAmount" data-bind="value: iSecondReturnFeeAmount" placeholder="请输入二级返费金额"></div>
                            <div class="form-group"> 二级返费天数：<input type="text" class="form-control" id="iSecondReturnFeeDays" data-bind="value: iSecondReturnFeeDays" placeholder="请输入二级返费天数"></div>
                            <div class="form-group"> 二级返费日期：<input type="text" class="form-control" id="iSecondReturnFeeDate" data-bind="value: iSecondReturnFeeDate" placeholder="请输入二级返费日期"></div>
                            <div class="form-group">
                                二级付款情况：
                                <select class="form-control" id="iSecondReturnFeePayment" data-bind="value: iSecondReturnFeePayment">
                                    <option value="-">请选择</option>
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                            <div class="form-group"> 二级实际支付日期：<input type="text" class="form-control" id="iSecondReturnFeeActualPayDate" data-bind="value: iSecondReturnFeeActualPayDate" placeholder="请输入二级实际支付日期"></div>
                            <div class="form-group"> 三级返费金额：<input type="text" class="form-control" id="iThirdReturnFeeAmount" data-bind="value: iThirdReturnFeeAmount" placeholder="请输入三级返费金额"></div>
                            <div class="form-group"> 三级返费天数：<input type="text" class="form-control" id="iThirdReturnFeeDays" data-bind="value: iThirdReturnFeeDays" placeholder="请输入三级返费天数"></div>
                            <div class="form-group"> 三级返费日期：<input type="text" class="form-control" id="iThirdReturnFeeDate" data-bind="value: iThirdReturnFeeDate" placeholder="请输入三级返费日期"></div>
                            <div class="form-group">
                                三级付款情况：
                                <select class="form-control" id="iThirdReturnFeePayment" data-bind="value: iThirdReturnFeePayment">
                                    <option value="-">请选择</option>
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                            <div class="form-group"> 三级实际支付日期：<input type="text" class="form-control" id="iThirdReturnFeeActualPayDate" data-bind="value: iThirdReturnFeeActualPayDate" placeholder="请输入三级实际支付日期"></div>
                            <div class="form-group"> 四级返费金额：<input type="text" class="form-control" id="iFourthReturnFeeAmount" data-bind="value: iFourthReturnFeeAmount" placeholder="请输入四级返费金额"></div>
                            <div class="form-group"> 四级返费天数：<input type="text" class="form-control" id="iFourthReturnFeeDays" data-bind="value: iFourthReturnFeeDays" placeholder="请输入四级返费天数"></div>
                            <div class="form-group"> 四级返费日期：<input type="text" class="form-control" id="iFourthReturnFeeDate" data-bind="value: iFourthReturnFeeDate" placeholder="请输入四级返费日期"></div>
                            <div class="form-group">
                                四级付款情况：
                                <select class="form-control" id="iFourthReturnFeePayment" data-bind="value: iFourthReturnFeePayment">
                                    <option value="-">请选择</option>
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                            <div class="form-group"> 四级实际支付日期：<input type="text" class="form-control" id="iFourthReturnFeeActualPayDate" data-bind="value: iFourthReturnFeeActualPayDate" placeholder="请输入四级实际支付日期"></div>
                            <div class="form-group"> 五级返费金额：<input type="text" class="form-control" id="iFifthReturnFeeAmount" data-bind="value: iFifthReturnFeeAmount" placeholder="请输入五级返费金额"></div>
                            <div class="form-group"> 五级返费天数：<input type="text" class="form-control" id="iFifthReturnFeeDays" data-bind="value: iFifthReturnFeeDays" placeholder="请输入五级返费天数"></div>
                            <div class="form-group"> 五级返费日期：<input type="text" class="form-control" id="iFifthReturnFeeDate" data-bind="value: iFifthReturnFeeDate" placeholder="请输入五级返费日期"></div>
                            <div class="form-group">
                                五级付款情况：
                                <select class="form-control" id="iFifthReturnFeePayment" data-bind="value: iFifthReturnFeePayment">
                                    <option value="-">请选择</option>
                                    <option value="已付">已付</option>
                                    <option value="未付">未付</option>
                                </select>
                            </div>
                            <div class="form-group"> 五级实际支付日期：<input type="text" class="form-control" id="iFifthReturnFeeActualPayDate" data-bind="value: iFifthReturnFeeActualPayDate" placeholder="请输入五级实际支付日期"></div>
                            <div class="form-group"> 返费信息备注：<input type="text" class="form-control" id="iReturnFeeNote" data-bind="value: iReturnFeeNote" placeholder="请输入返费信息备注"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="addRecord">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="">数据导入</h4>
                        </div>
                        <div class="modal-body" style="height:400px">
                            <form>
                                <a href="~/UploadFiles/Template/返费信息导入模板.xlsx" class="form-control" style="border:none;">下载导入模板</a>
                                <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%;height:30px">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">修改记录</h4>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="recordId" />
                            <table id="logtable" class="table table-hover"></table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.onkeydown = function (e) {
        e = e || window.event;
        if (e.keyCode == 13) {
            Search();
        }
    }
    function ShowLog(iguid) {
        $("#recordId").val(iguid);
        $('#logtable').bootstrapTable('refresh');
        $('#logModal').modal('toggle');
    }

    function Search() {
        $('#mytab').bootstrapTable('refresh');
    }
    function ChangeDateFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        return date.getFullYear()
            + "-"
            + month
            + "-"
            + currentDate;
    }

    //json 日期转字符串
    function ChangeDateTimeFormat(jsondate) {
        if (!jsondate) return "";
        jsondate = jsondate.replace("/Date(", "").replace(")/", "");
        if (jsondate.indexOf("+") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("+"));
        }
        else if (jsondate.indexOf("-") > 0) {
            jsondate = jsondate.substring(0, jsondate.indexOf("-"));
        }

        var date = new Date(parseInt(jsondate, 10));
        var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
        var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
        return date.getFullYear()
               + "-"
               + month
               + "-"
               + currentDate
               + " "
               + ((date.getHours() < 10) ? ("0" + date.getHours()) : date.getHours())
               + ":"
               + ((date.getMinutes() < 10) ? ("0" + date.getMinutes()) : date.getMinutes());

    }

    $(function () {
        if (window.userType == "普通用户") {
            $("#sItemName").val('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject');
            $("#sItemName").attr("disabled", true);
            $("#iItemName").attr("disabled", true);
            $("#sEditType").val("未编辑");
        }


        if (window.menuRights == "r") {
            $("#DataExport").hide();
            $("#DataImport").hide();
        }
        $("#sFirstReturnFeeDate").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sFirstReturnFeeDate").datetimepicker("setEndDate", $("#sFirstReturnFeeDate2").val());
        });
        $("#sFirstReturnFeeDate2").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sFirstReturnFeeDate2").datetimepicker("setStartDate", $("#sFirstReturnFeeDate").val());
        });

        $("#sEmployeeDate").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sEmployeeDate").datetimepicker("setEndDate", $("#sEmployeeDate2").val());
        });
        $("#sEmployeeDate2").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sEmployeeDate2").datetimepicker("setStartDate", $("#sEmployeeDate").val());
        });


        $("#sFirstReturnFeeActualPayDate").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sFirstReturnFeeActualPayDate").datetimepicker("setEndDate", $("#sFirstReturnFeeActualPayDate2").val());
        });
        $("#sFirstReturnFeeActualPayDate2").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            minView: "month",
            maxView: "decade",
            todayBtn: true,
            pickerPosition: "bottom-left"
        }).on("click", function (ev) {
            $("#sFirstReturnFeeActualPayDate2").datetimepicker("setStartDate", $("#sFirstReturnFeeActualPayDate").val());
        });

        $('#iInterviewDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFirstReturnFeeDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFirstReturnFeeActualPayDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iSecondReturnFeeDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iSecondReturnFeeActualPayDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iThirdReturnFeeDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iThirdReturnFeeActualPayDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFourthReturnFeeDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFourthReturnFeeActualPayDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFifthReturnFeeDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        $('#iFifthReturnFeeActualPayDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });



        $("#iItemName").change(function () {
            var value = $("#iItemName").val();
            if (value != "-") {
                $('#iItemName').removeClass("warning");
            }
            else {
                $('#iItemName').addClass("warning");
            }
        });
        $("#iCompany").change(function () {
            var value = $("#iCompany").val();
            if (value != "-") {
                $('#iCompany').removeClass("warning");
            }
            else {
                $('#iCompany').addClass("warning");
            }
        });

        $("#iEmpNo").blur(function () {
            var value = $("#iEmpNo").val();
            if (value.length > 0) {
                $('#iEmpNo').removeClass("warning");
            }
            else {
                $('#iEmpNo').addClass("warning");
            }
        });
        $("#iName").blur(function () {
            var value = $("#iName").val();
            if (value.length > 0) {
                $('#iName').removeClass("warning");
            }
            else {
                $('#iName').addClass("warning");
            }
        });
        $("#iIdCard").blur(function () {

            //日期转字符串 返回日期格式20080808
            var dateToString = function (date) {
                if (date instanceof Date) {
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    month = month < 10 ? '0' + month : month;
                    var day = date.getDate();
                    day = day < 10 ? '0' + day : day;
                    return year.toString() + month.toString() + day.toString();
                }
                return '';
            }
            var cardid = $("#iIdCard").val();
            //身份证正则表达式(18位)
            var isIdCard2 = /^[1-9]\d{5}(19\d{2}|[2-9]\d{3})((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])(\d{4}|\d{3}X)$/i;
            var stard = "10X98765432"; //最后一位身份证的号码
            var first = [7, 9, 10, 5, 8, 4, 2, 1, 6, 3, 7, 9, 10, 5, 8, 4, 2]; //1-17系数
            var sum = 0;
            if (!isIdCard2.test(cardid)) {
                $('#iIdCard').addClass("warning");
                return false;
            }
            var year = cardid.substr(6, 4);
            var month = cardid.substr(10, 2);
            var day = cardid.substr(12, 2);
            var birthday = cardid.substr(6, 8);
            if (birthday != dateToString(new Date(year + '/' + month + '/' + day))) { //校验日期是否合法
                $('#iIdCard').addClass("warning");
                return false;
            }
            for (var i = 0; i < cardid.length - 1; i++) {
                sum += cardid[i] * first[i];
            }
            var result = sum % 11;
            var last = stard[result]; //计算出来的最后一位身份证号码
            if (cardid[cardid.length - 1].toUpperCase() == last) {
                //合法身份证
                $('#iIdCard').removeClass("warning");
                var areainfo = id_card_area.getAreaByIdCard(cardid)
                myViewModel.iRegistry(areainfo.split('|')[0]);
                myViewModel.iRegistryAddress(areainfo.replace("|", ""));

                var date = new Date();
                var year = date.getFullYear();
                var birthday_year = parseInt(cardid.substr(6, 4));
                var userage = year - birthday_year;
                myViewModel.iAge(userage);
                myViewModel.iSex(cardid.substr(16, 1) % 2 == 0 ? "女" : "男");
                myViewModel.iBirthday(cardid.substr(6, 8).replace(/(.{4})(.{2})/, "$1-$2-"));
                return true;
            } else {
                $('#iIdCard').addClass("warning");
                return false;
            }
        });

        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })

        $('#mytab').bootstrapTable({
            url: "/FinanceAjax/GetAllReturnFee",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iUpdatedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: false,//ENTER键搜索
            height: tableHeight(),//高度调整
            search: true,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 100, 500, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                params.sItemName = $("#projectSelect").val();
                params.sCompany = $("#companySelect").val();
                params.sName = $("#sName").val();
                params.sIdCard = $("#sIdCard").val();
                params.sLaborName = $("#sLaborName").val();
                params.sFirstReturnFeePayment = $("#sFirstReturnFeePayment").val();
                params.sFirstReturnFeeDays = $("#sFirstReturnFeeDays").val();
                params.sFirstReturnFeeDate = $("#sFirstReturnFeeDate").val();
                params.sFirstReturnFeeDate2 = $("#sFirstReturnFeeDate2").val();
                params.sEmployeeDate = $("#sEmployeeDate").val();
                params.sEmployeeDate2 = $("#sEmployeeDate2").val();
                params.sFirstReturnFeeActualPayDate = $("#sFirstReturnFeeActualPayDate").val();
                params.sFirstReturnFeeActualPayDate2 = $("#sFirstReturnFeeActualPayDate2").val();
                params.sEditType = $("#sEditType").val();
                return params;
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: false,//刷新按钮
            showColumns: true,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#mytab').bootstrapTable('getOptions').pageNumber - 1) * $('#mytab').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
                 {
                     field: "iShowLog", title: "修改记录", visible: false, formatter: function (value, row, index) {
                         return '<a href="#" onclick="ShowLog(\'' + row.iGuid + '\')">点击查看</a>';
                     }
                 },
                 { field: "iGuid", title: "iGuid", visible: false, switchable: false }
            , { field: "iHRInfoGuid", title: "iHRInfoGuid", visible: false, switchable: false }
            , { field: "iHRInfoGuid2", title: "iHRInfoGuid2", visible: false, switchable: false }
            , { field: "iItemName", title: "项目名称", visible: false }
, { field: "iCompany", title: "所在公司", visible: false }
, { field: "iEmpNo", title: "工号", sortable: true }
, { field: "iName", title: "姓名", sortable: true }
, { field: "iIdCard", title: "身份证号", sortable: true }
, { field: "iLaborName", title: "劳务名称", sortable: true }
, { field: "iLaborCampBank", title: "劳务所银行支行", sortable: true }
, { field: "iLaborCampBankAccount", title: "劳务所账号", sortable: true }
, { field: "iLaborCampBankPerson", title: "劳务所人姓名", sortable: true }
, {
    field: "iInterviewDate", title: "面试日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, {
    field: "iEmployeeDate", title: "入职时间", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, {
    field: "iResignDate", title: "离职日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iOnJobDays", title: "在职天数", sortable: true }
, { field: "iFirstReturnFeeAmount", title: "一级返费金额", sortable: true }
, { field: "iFirstReturnFeeDays", title: "一级返费天数", sortable: true }
, {
    field: "iFirstReturnFeeDate", title: "一级返费日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iFirstReturnFeePayment", title: "一级付款情况", sortable: true }
, {
    field: "iFirstReturnFeeActualPayDate", title: "一级实际支付日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iSecondReturnFeeAmount", title: "二级返费金额", sortable: true }
, { field: "iSecondReturnFeeDays", title: "二级返费天数", sortable: true }
, {
    field: "iSecondReturnFeeDate", title: "二级返费日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iSecondReturnFeePayment", title: "二级付款情况", sortable: true }
, {
    field: "iSecondReturnFeeActualPayDate", title: "二级实际支付日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iThirdReturnFeeAmount", title: "三级返费金额", sortable: true }
, { field: "iThirdReturnFeeDays", title: "三级返费天数", sortable: true }
, {
    field: "iThirdReturnFeeDate", title: "三级返费日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iThirdReturnFeePayment", title: "三级付款情况", sortable: true }
, {
    field: "iThirdReturnFeeActualPayDate", title: "三级实际支付日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iFourthReturnFeeAmount", title: "四级返费金额", sortable: true }
, { field: "iFourthReturnFeeDays", title: "四级返费天数", sortable: true }
, {
    field: "iFourthReturnFeeDate", title: "四级返费日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iFourthReturnFeePayment", title: "四级付款情况", sortable: true }
, {
    field: "iFourthReturnFeeActualPayDate", title: "四级实际支付日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iFifthReturnFeeAmount", title: "五级返费金额", sortable: true }
, { field: "iFifthReturnFeeDays", title: "五级返费天数", sortable: true }
, {
    field: "iFifthReturnFeeDate", title: "五级返费日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iFifthReturnFeePayment", title: "五级付款情况", sortable: true }
, {
    field: "iFifthReturnFeeActualPayDate", title: "五级实际支付日期", sortable: true, formatter: function (value, row, index) {
        return ChangeDateFormat(value);
    }
}
, { field: "iReturnFeeNote", title: "返费信息备注", sortable: true }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                if (window.menuRights == "r") {
                    return;
                }
                $("#addModalLabel").html("修改记录");
                $('#addModal').modal('toggle');

                $("#iItemName").removeClass("warning");
                $('#iCompany').removeClass("warning");
                $('#iName').removeClass("warning");
                $('#iEmpNo').removeClass("warning");
                $('#iIdCard').removeClass("warning");

                var width = $("#addModal").width();
                var height = $("#addModal").height();
                var $shade = $('<div id="waiting"></div>');
                $shade.css({ width: '100%', height: '100%', position: 'absolute', top: 0, left: 0, background: '#fff url(/Content/images/waiting.gif) center center no-repeat', opacity: 0.4 });
                $("#addModal").append($shade);
                if (row.iGuid != null && window.userType == "普通用户") {
                    $('#addRecord').hide();
                }
                else {
                    $('#addRecord').show();
                }

                $.get("/FinanceAjax/GetReturnFee?hrguid=" + row.iHRInfoGuid2, function (result) {
                    if (result.success) {
                        myViewModel.iGuid(result.data.iGuid);
                        myViewModel.iHRInfoGuid(result.data.iHRInfoGuid2);
                        myViewModel.iHRInfoGuid2(result.data.iHRInfoGuid2);
                        myViewModel.iItemName(result.data.iItemName);
                        myViewModel.iCompany(result.data.iCompany);
                        myViewModel.iEmpNo(result.data.iEmpNo);
                        myViewModel.iName(result.data.iName);
                        myViewModel.iIdCard(result.data.iIdCard);
                        myViewModel.iLaborName(result.data.iLaborName);
                        myViewModel.iLaborCampBank(result.data.iLaborCampBank);
                        myViewModel.iLaborCampBankAccount(result.data.iLaborCampBankAccount);
                        myViewModel.iLaborCampBankPerson(result.data.iLaborCampBankPerson);
                        myViewModel.iInterviewDate(ChangeDateFormat(result.data.iInterviewDate));
                        myViewModel.iEmployeeDate(ChangeDateFormat(result.data.iEmployeeDate));
                        myViewModel.iResignDate(ChangeDateFormat(result.data.iResignDate));
                        myViewModel.iOnJobDays(result.data.iOnJobDays);
                        myViewModel.iFirstReturnFeeAmount(result.data.iFirstReturnFeeAmount);
                        myViewModel.iFirstReturnFeeDays(result.data.iFirstReturnFeeDays);
                        myViewModel.iFirstReturnFeeDate(ChangeDateFormat(result.data.iFirstReturnFeeDate));
                        myViewModel.iFirstReturnFeePayment(result.data.iFirstReturnFeePayment);
                        myViewModel.iFirstReturnFeeActualPayDate(ChangeDateFormat(result.data.iFirstReturnFeeActualPayDate));
                        myViewModel.iSecondReturnFeeAmount(result.data.iSecondReturnFeeAmount);
                        myViewModel.iSecondReturnFeeDays(result.data.iSecondReturnFeeDays);
                        myViewModel.iSecondReturnFeeDate(ChangeDateFormat(result.data.iSecondReturnFeeDate));
                        myViewModel.iSecondReturnFeePayment(result.data.iSecondReturnFeePayment);
                        myViewModel.iSecondReturnFeeActualPayDate(ChangeDateFormat(result.data.iSecondReturnFeeActualPayDate));
                        myViewModel.iThirdReturnFeeAmount(result.data.iThirdReturnFeeAmount);
                        myViewModel.iThirdReturnFeeDays(result.data.iThirdReturnFeeDays);
                        myViewModel.iThirdReturnFeeDate(ChangeDateFormat(result.data.iThirdReturnFeeDate));
                        myViewModel.iThirdReturnFeePayment(result.data.iThirdReturnFeePayment);
                        myViewModel.iThirdReturnFeeActualPayDate(ChangeDateFormat(result.data.iThirdReturnFeeActualPayDate));
                        myViewModel.iFourthReturnFeeAmount(result.data.iFourthReturnFeeAmount);
                        myViewModel.iFourthReturnFeeDays(result.data.iFourthReturnFeeDays);
                        myViewModel.iFourthReturnFeeDate(ChangeDateFormat(result.data.iFourthReturnFeeDate));
                        myViewModel.iFourthReturnFeePayment(result.data.iFourthReturnFeePayment);
                        myViewModel.iFourthReturnFeeActualPayDate(ChangeDateFormat(result.data.iFourthReturnFeeActualPayDate));
                        myViewModel.iFifthReturnFeeAmount(result.data.iFifthReturnFeeAmount);
                        myViewModel.iFifthReturnFeeDays(result.data.iFifthReturnFeeDays);
                        myViewModel.iFifthReturnFeeDate(ChangeDateFormat(result.data.iFifthReturnFeeDate));
                        myViewModel.iFifthReturnFeePayment(result.data.iFifthReturnFeePayment);
                        myViewModel.iFifthReturnFeeActualPayDate(ChangeDateFormat(result.data.iFifthReturnFeeActualPayDate));
                        myViewModel.iReturnFeeNote(result.data.iReturnFeeNote);
                        myViewModel.iCreatedOn(result.data.iCreatedOn);
                        myViewModel.iCreatedBy(result.data.iCreatedBy);
                        myViewModel.iUpdatedOn(result.data.iUpdatedOn);
                        myViewModel.iUpdatedBy(result.data.iUpdatedBy);
                        myViewModel.iStatus(result.data.iStatus);
                        myViewModel.iIsDeleted(result.data.iIsDeleted);
                        $("#iItemName").attr("disabled", true);
                        $("#iCompany").attr("disabled", true);
                    }
                    else {
                        console.log(result.msg);
                        toastr.error('获取数据失败！');
                    }
                    $shade.remove();
                });
            },
            onLoadSuccess: function (data) {
                $.each(data.rows, function (i, item) {
                    if (item.iEmployeeStatus == "离职") {
                        $("#mytab").find("tr[data-index=" + i + "]").css("color", "red");
                    }
                })
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            }
        });

        $('#logtable').bootstrapTable({
            url: "/CommonAjax/GetModifyRecords",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iModifiedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: true,//ENTER键搜索
            height: tableHeight() * 0.84,//高度调整
            search: false,//是否搜索
            pagination: true,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 20, 30, 50, 100, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            queryParams: function getParams(params) {
                //params obj
                params.recordid = $("#recordId").val();
                params.tableName = "ReturnFee";
                return params;
            },
            searchOnEnterKey: false,//回车搜索
            showRefresh: false,//刷新按钮
            showColumns: false,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbarAlign: "right",//工具栏对齐方式
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#logtable').bootstrapTable('getOptions').pageNumber - 1) * $('#logtable').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
            {
                field: "iModifiedOn", title: "修改时间", formatter: function (value, row, index) {
                    return ChangeDateTimeFormat(value);
                }
            }
            , { field: "iModifiedBy", title: "修改人" }
            , { field: "iModifiedContent", title: "修改明细" }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
            },
            locale: "zh-CN",//中文支持,
            detailView: false //是否显示详情折叠
        });

        if (window.userType != "普通用户") {
            $('#mytab').bootstrapTable('showColumn', 'iCompany');
            $('#mytab').bootstrapTable('showColumn', 'iItemName');
        }

        $("#addRecord").click(function () {
            var warnings = $(".warning");
            if (warnings && warnings.length > 0) {
                toastr.error('数据验证未通过！');
                return;
            }
            $(this).attr({ "disabled": "disabled" });

            var param = {};
            param.jsonString = ko.toJSON(myViewModel);
            $.ajax({
                url: "/FinanceAjax/SaveChanges",
                type: "POST",
                data: param,
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        toastr.success('保存成功！');
                        $('#mytab').bootstrapTable('refresh');
                    }
                    else {
                        console.log(data);
                        toastr.error('保存数据失败！');
                    }
                    $('#addModal').modal('toggle');
                    $("#addRecord").removeAttr("disabled");
                }
            });
        });

        var myViewModel = new ViewModel();
        ko.applyBindings(myViewModel);

    })

    function tableHeight() {
        return $(window).height() * 0.85;
    }

    function infoFormatter(value, row, index) {
        return "id:" + row.id + " name:" + row.name + " age:" + row.age;
    }

    //初始化fileinput
    var FileInput = function () {
        var oFile = new Object();
        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);
            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['xls', 'xlsx'],//接收的文件后缀
                showUpload: false, //是否显示上传按钮
                showCaption: false,//是否显示标题
                browseClass: "btn btn-primary", //按钮样式
                //dropZoneEnabled: false,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });
            //导入文件上传完成之后的事件
            $("#txt_file").on("fileuploaded", function (event, data, previewId, index) {
                $("#importModal").modal("hide");
                if (!data.response.success) {
                    toastr.error(data.response.msg);
                    console.log(data.response.msg);
                    return;
                }
                //刷新表格
                $('#mytab').bootstrapTable('refresh');
            });
        }
        return oFile;
    };
    var oFileInput = new FileInput();
    oFileInput.Init("txt_file", "/FinanceAjax/ImportReturnFee");
    function ExportData() {
        var url = "/FinanceAjax/ExportReturnFee";
        var params = {};
        params.search = $(".search input[type='text']").first().val();
        params.sItemName = $("#projectSelect").val();
        params.sCompany = $("#companySelect").val();
        params.sName = $("#sName").val();
        params.sIdCard = $("#sIdCard").val();
        params.sLaborName = $("#sLaborName").val();
        params.sFirstReturnFeePayment = $("#sFirstReturnFeePayment").val();
        params.sFirstReturnFeeDays = $("#sFirstReturnFeeDays").val();
        params.sFirstReturnFeeDate = $("#sFirstReturnFeeDate").val();
        params.sFirstReturnFeeDate2 = $("#sFirstReturnFeeDate2").val();
        params.sEmployeeDate = $("#sEmployeeDate").val();
        params.sEmployeeDate2 = $("#sEmployeeDate2").val();
        params.sFirstReturnFeeActualPayDate = $("#sFirstReturnFeeActualPayDate").val();
        params.sFirstReturnFeeActualPayDate2 = $("#sFirstReturnFeeActualPayDate2").val();
        params.sEditType = $("#sEditType").val();
        var inputs = '<input type="hidden" name="searchpara" value="' + JSON.stringify(params).replace(new RegExp("\"", "gm"), "'") + '" />';
        $('<form action="' + url + '" method="post" target="_blank">' + inputs + '</form>').appendTo('body').submit().remove();
    }


    function ViewModel() {
        var self = this;
        self.iGuid = ko.observable("");
        self.iHRInfoGuid = ko.observable("");
        self.iHRInfoGuid2 = ko.observable("");
        self.iItemName = ko.observable('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject');
        self.iCompany = ko.observable('-');
        self.iEmpNo = ko.observable("");
        self.iName = ko.observable("");
        self.iIdCard = ko.observable("");
        self.iLaborName = ko.observable("");
        self.iLaborCampBank = ko.observable("");
        self.iLaborCampBankAccount = ko.observable("");
        self.iLaborCampBankPerson = ko.observable("");
        self.iInterviewDate = ko.observable("");
        self.iEmployeeDate = ko.observable("");
        self.iResignDate = ko.observable("");
        self.iOnJobDays = ko.observable("");
        self.iFirstReturnFeeAmount = ko.observable("");
        self.iFirstReturnFeeDays = ko.observable("");
        self.iFirstReturnFeeDate = ko.observable("");
        self.iFirstReturnFeePayment = ko.observable("");
        self.iFirstReturnFeeActualPayDate = ko.computed({
            read: function () {
                if (self.iFirstReturnFeePayment() == "已付")
                    return '@DateTime.Now.ToString("yyyy-MM-dd")';
                else {
                    return "";
                }

            },
            write: function (value) {
            }
        });
        self.iSecondReturnFeeAmount = ko.observable("");
        self.iSecondReturnFeeDays = ko.observable("");
        self.iSecondReturnFeeDate = ko.observable("");
        self.iSecondReturnFeePayment = ko.observable("");
        self.iSecondReturnFeeActualPayDate = ko.computed({
            read: function () {
                if (self.iSecondReturnFeePayment() == "已付")
                    return '@DateTime.Now.ToString("yyyy-MM-dd")';
                else {
                    return "";
                }

            },
            write: function (value) {
            }
        });
        self.iThirdReturnFeeAmount = ko.observable("");
        self.iThirdReturnFeeDays = ko.observable("");
        self.iThirdReturnFeeDate = ko.observable("");
        self.iThirdReturnFeePayment = ko.observable("");
        self.iThirdReturnFeeActualPayDate = ko.computed({
            read: function () {
                if (self.iThirdReturnFeePayment() == "已付")
                    return '@DateTime.Now.ToString("yyyy-MM-dd")';
                else {
                    return "";
                }

            },
            write: function (value) {
            }
        });
        self.iFourthReturnFeeAmount = ko.observable("");
        self.iFourthReturnFeeDays = ko.observable("");
        self.iFourthReturnFeeDate = ko.observable("");
        self.iFourthReturnFeePayment = ko.observable("");
        self.iFourthReturnFeeActualPayDate = ko.computed({
            read: function () {
                if (self.iFourthReturnFeePayment() == "已付")
                    return '@DateTime.Now.ToString("yyyy-MM-dd")';
                else {
                    return "";
                }

            },
            write: function (value) {
            }
        });
        self.iFifthReturnFeeAmount = ko.observable("");
        self.iFifthReturnFeeDays = ko.observable("");
        self.iFifthReturnFeeDate = ko.observable("");
        self.iFifthReturnFeePayment = ko.observable("");
        self.iFifthReturnFeeActualPayDate = ko.computed({
            read: function () {
                if (self.iFifthReturnFeePayment() == "已付")
                    return '@DateTime.Now.ToString("yyyy-MM-dd")';
                else {
                    return "";
                }

            },
            write: function (value) {
            }
        });
        self.iReturnFeeNote = ko.observable("");
        self.iCreatedOn = ko.observable("");
        self.iCreatedBy = ko.observable("");
        self.iUpdatedOn = ko.observable("");
        self.iUpdatedBy = ko.observable("");
        self.iStatus = ko.observable("1");
        self.iIsDeleted = ko.observable("0");

    }


</script>

