@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/FlatLab/css/bootstrap.min.css?v=267" rel="stylesheet">
    <link href="~/FlatLab/bootstrap-table/src/bootstrap-table.css" rel="stylesheet" />
    <link href="~/FlatLab/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="~/FlatLab/css/bootstrap-reset.css?v=267" rel="stylesheet">
    <!--external css-->
    <link href="~/FlatLab/assets/font-awesome/css/font-awesome.min.css?v=267" rel="stylesheet" />
    <link href="~/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css?v=267" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/FlatLab/css/owl.carousel.css?v=267" type="text/css">
    <!-- Custom styles for this template -->
    <link href="~/FlatLab/css/style.min.css?v=267" rel="stylesheet">
    <link href="~/FlatLab/css/style-responsive.min.css?v=267" rel="stylesheet" />
    <link href="~/FlatLab/toastr/build/toastr.css" rel="stylesheet" />
    <link href="~/FlatLab/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link href="~/FlatLab/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/FlatLab/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/FlatLab/bootstrap-table/src/bootstrap-table-fixed-columns.css" rel="stylesheet" />
    @RenderSection("style", required: false)

    <script src="~/FlatLab/js/jquery-1.8.3.min.js?v=267"></script>
    <script src="~/FlatLab/js/bootstrap.min.js?v=267"></script>
    <script src="~/FlatLab/bootstrap-table/src/bootstrap-table.js"></script>
    <script src="~/FlatLab/bootstrap-table/src/bootstrap-table-fixed-columns.js"></script>
    <script src="~/FlatLab/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/FlatLab/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/FlatLab/bootstrap-fileinput/js/locales/zh.js"></script>
    <script class="include" type="text/javascript" src="~/FlatLab/js/jquery.dcjqaccordion.2.7.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.scrollTo.min.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.nicescroll.js?v=267" type="text/javascript"></script>
    <script src="~/FlatLab/js/jquery.sparkline.js?v=267" type="text/javascript"></script>
    <script src="~/FlatLab/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js?v=267"></script>
    <script src="~/FlatLab/js/owl.carousel.js?v=267"></script>
    <script src="~/FlatLab/js/jquery.customSelect.min.js?v=267"></script>
    <script src="~/FlatLab/js/respond.min.js?v=267"></script>
    <script class="include" type="text/javascript" src="~/FlatLab/js/jquery.dcjqaccordion.2.7.js?v=267"></script>
    <script src="~/FlatLab/toastr/build/toastr.min.js"></script>
    <script src="~/FlatLab/zTree/jquery.ztree.all-3.5.min.js"></script>
    <script src="~/FlatLab/knockout-3.4.0.js"></script>
    <script src="~/FlatLab/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/FlatLab/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/FlatLab/id_card_area.js" charset="gbk"></script>
    <script src="~/FlatLab/bootstrap-multiselect/js/bootstrap-multiselect.js" charset="gbk"></script>

    @RenderSection("scripts", required: false)

    <style>
        .search {
            width: auto;
        }

        .form-control {
            color: black;
        }
        .warning {
            border-color: red;
        }
        /*强制不换行，chrome*/
        table td {
            word-break: keep-all;
            white-space: nowrap;
        }
        .form-group {
            width: 24%;
            margin-left: 1%;
            float: left;
        }
    </style>
    <script>
        $(function () {
            var companySelected = $("#companySelect").val();
            if (companySelect != "-") {
                ChangeCompany(companySelected);
            }
            //当前页面菜单选中
            var url = location.search;
            if (url == "") {  //自动跳转url /Display/Index/1
                url = window.location.pathname;
            }
            var currentPage = $("#sidebar").find("a[href$='" + url + "']");
            if (currentPage && currentPage.length > 0) {
                var li = currentPage.parent();
                $(li).attr("selected", "selected");
                $(li).addClass("active open");
                var ul = li.parent();
                var biga = ul.parent().children().first();
                if (biga && biga.length > 0) {
                    $(biga).attr("class", "active");
                }
            }
        });

        function ChangeCompany(newCompany) {
            $.ajax({
                url: "/ManageAjax/GetAuthorisedProjectDic?companyCode=" + newCompany,
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        $("select[name='projects']").empty();
                        var option = $("<option>").val("-").text("请选择项目");
                        $("select[name='projects']").append(option);
                        for (var key in result.data) {
                            var option = $("<option>").val(key).text(result.data[key]);
                            if (key == "@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject")
                                option = $("<option selected = 'selected'>").val(key).text(result.data[key]);
                            $("select[name='projects']").append(option);
                        }
                        result.data;
                    }
                    else {
                        console.log(result.msg);
                    }
                }
            });
        }
        function ChangeProject(newProject) {
            var newCompany = $("#companySelect").val();
            if (newCompany == "-" || newProject == "-")
                return;
            $.ajax({
                url: "/ManageAjax/ChangeProject?newCompany=" + newCompany + "&newProject=" + newProject,
                type: "GET",
                dataType: 'text',
                success: function (data) {
                    if (data == "success") {
                        location.reload();
                    }
                    else {
                        console.log(data);
                    }
                }
            });
        }

        window.menuRights = "@ViewBag.CurrentPageRights";
        window.userType = "@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserType";
    </script>

</head>
<body style="font-weight:lighter; font-size:smaller; color:black">
    <header class="header" style="background-color:yellow;min-height:initial;">
        <div class="sidebar-toggle-box" style="margin-top:5px;">
            <div data-original-title="导航伸缩" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <a href="/" class="logo" style="margin-top:2px;"><span>人力资源管理</span>平台</a>
        <img src="/content/images/敏慧标识.jpg" height="30" width="200" style="margin-top:0px;visibility:hidden" />
        <div class="top-nav " style="margin-top:-35px">
            <ul class="nav pull-right top-menu">
                <select onchange="ChangeCompany(this.value)" class="form-control" style="width:150px;float:left;" id="companySelect">
                    <option value="-">请选择公司</option>
                    @{
                        HRMS.Data.Manager.DicManager dm = new HRMS.Data.Manager.DicManager();
                        var companies = dm.GetAuthorisedCompanyDic(HRMS.WEB.Utils.SessionHelper.CurrentUser.UserId, HRMS.WEB.Utils.SessionHelper.CurrentUser.UserType);
                        foreach (var item in companies)
                        {
                            if (item.Key == HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentCompany)
                            {
                                <option selected="selected" value="@item.Key">@item.Value</option>
                            }
                            else
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        }
                    }
                </select>
                <select name="projects" onchange="ChangeProject(this.value)" class="form-control" style="width:150px;float:left; margin-left:10px" id="projectSelect">
                    <option value="-">请选择项目</option>
                    @{
                        if (HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject != "-")
                        {
                            <option selected="selected" value="@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject">请选择项目</option>
                        }
                        else
                        {
                            <option value="-">请选择项目</option>
                        }
                    }
                </select>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img style="height:20px" alt="" src="~/Flatlab/img/avatar1_small.jpg">
                        <span class="username">@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserName</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout" style="width: 56px !important; min-width: 56px !important">
                        <div class="log-arrow-up"></div>
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i>退出</a>

                            }
                        </li>
                    </ul>

                </li>


            </ul>

        </div>
    </header>
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-laptop"></i>
                        <span>流程中心</span>
                    </a>
                    <ul class="sub">
                        <li><a href="~/BPM/todo">我的待办</a></li>
                    </ul>
                    <ul class="sub">
                        <li><a href="~/BPM/done">我的完成</a></li>
                    </ul>
                    <ul class="sub">
                        <li><a href="~/BPM/myapp">我的申请</a></li>
                    </ul>
                </li>
                @{
                    HRMS.Controllers.ManageAjaxController mc = new HRMS.Controllers.ManageAjaxController();
                    @Html.Raw(mc.GetAuthorisedMenuHtml())
                    if (HRMS.WEB.Utils.SessionHelper.CurrentUser.UserType == "超级管理员")
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="icon-laptop"></i>
                                <span>权限维护</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/Manage/CompanyIndex">公司维护</a></li>
                            </ul>
                            <ul class="sub">
                                <li><a href="~/Manage/ProjectIndex">项目维护</a></li>
                            </ul>
                            <ul class="sub">
                                <li><a href="~/Manage/UserIndex">用户维护</a></li>
                            </ul>
                            <ul class="sub">
                                <li><a href="~/Manage/MenuIndex">菜单维护</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class="icon-laptop"></i>
                                <span>账号设置</span>
                            </a>
                            <ul class="sub">
                                <li><a href="~/Account/ChangePassword">密码修改</a></li>
                            </ul>
                        </li>
                    }
                }

            </ul>
        </div>
    </aside>



    <section id="main-content" class="white-bg" style="background-color:lightyellow;">
        <section class="wrapper" style="margin-top:28px">
            @RenderBody()
        </section>
    </section>
    @*<footer class="site-footer" style="position:absolute;bottom:0;background:#2a3542;height:30px">
        <div class="text-center">
            Copyright <span style="font-family: Arial, Helvetica, sans-serif;">©</span> 2016 上海敏慧劳务派遣有限公司 HRMS
        </div>
    </footer>*@

    <!--common script for all pages-->
    <script src="~/FlatLab/js/common-scripts.js?v=267"></script>
    <!--script for this page-->
    <script src="~/FlatLab/js/sparkline-chart.js?v=267"></script>
    <script src="~/FlatLab/js/easy-pie-chart.js?v=267"></script>
    <script src="~/FlatLab/js/count.js?v=267"></script>


</body>
</html>
