@{
    ViewBag.Title = "流水账申请";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .modal-body {
        height: 230px;
    }
</style>

<div>
    <div>
        <div class="col-*-12">

            <div id="toolbar" class="toolbar">
                <div style="float: left; margin-left: 10px"><span>合计：</span></div>
                <div style="float: left; margin-left: 10px; width: 30%"><input id="totalThis" class="form-control" readonly="readonly" value="0" /></div>
                <div style="float: right; margin-left: 10px; margin-top: 5px; " class="btn btn-primary" id="SubmitApplication">提交申请</div>
                <div style="float: right; margin-left: 10px; margin-top: 5px; " class="btn btn-primary" data-toggle="modal" data-target="#addModal" id="NewRecord">添加记录</div>

            </div>

            <table id="mytab" class="table table-hover"></table>

            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="width:90%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="addModalLabel">添加记录</h4>
                        </div>
                        <div class="modal-body">
                            <input style="visibility:hidden" type="hidden" id="iGuid" data-bind="value: iGuid">
                            <div class="form-group">
                                公司：
                                <select class="form-control" id="iCompanyId" data-bind="value: iCompanyId">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Companies)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                项目：<select class="form-control" id="iProjectId" data-bind="value: iProjectId">
                                    <option value="-">请选择</option>
                                    @{
                                        foreach (var item in ViewBag.Projects)
                                        {
                                            <option value="@item.iGuid">@item.iName</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                日期：<input type="text" class="form-control" id="iDate" data-bind="value: iDate" placeholder="请输入日期">
                            </div>
                            <div class="form-group">
                                事项：<input type="text" class="form-control" id="iEvent" data-bind="value: iEvent" placeholder="请输入事项">
                            </div>
                            <div class="form-group">
                                提报人：<input type="text" class="form-control" id="iApplicant" data-bind="value: iApplicant" readonly="readonly" placeholder="请输入提报人">
                            </div>
                            <div class="form-group">
                                科目：<select class="form-control" id="iType" data-bind="value: iType">
                                    <option value="" selected="selected">请选择</option>
                                    @*<option value=" 招聘费用">招聘费用</option>
                                        <option value="固定资产">固定资产</option>
                                        <option value="用餐费用">用餐费用</option>
                                        <option value="应付福利费">应付福利费</option>
                                        <option value="预付账款">预付账款</option>
                                        <option value="办公费用">办公费用</option>
                                        <option value="管理费用">管理费用</option>
                                        <option value="工伤费用">工伤费用</option>
                                        <option value="公关费用">公关费用</option>*@
                                    <option value="办公费">办公费</option>
                                    <option value="差旅费">差旅费</option>
                                    <option value="油费">油费</option>
                                    <option value="固定资产">固定资产</option>
                                    <option value="住宿费">住宿费</option>
                                    <option value="招聘费">招聘费</option>
                                    <option value="水电费">水电费</option>
                                    <option value="房租费">房租费</option>
                                    <option value="物业费">物业费</option>
                                    <option value="税金">税金</option>
                                    <option value="餐费">餐费</option>
                                    <option value="工伤费">工伤费</option>
                                    <option value="公关费">公关费</option>
                                    <option value="福利">福利</option>
                                    <option value="其它">其它</option>
                                </select>
                            </div>
                            <div class="form-group">
                                金额：<input type="text" class="form-control" id="iAmount" data-bind="value: iAmount" onkeyup="clearNoNum(this)" onblur="clearNoNum(this)" maxlength="11" placeholder="请输入金额">
                            </div>
                            <div class="form-group">
                                备注：<input type="text" class="form-control" id="iNote" data-bind="value: iNote" placeholder="请输入备注">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="SaveChanges">确定</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var confirmUsers = "@ViewBag.confirmUsers";
    var managerUsers = "@ViewBag.managerUsers";
    var bossUsers = "@ViewBag.bossUsers";
    var tellerUsers = "@ViewBag.tellerUsers";
    var recordUsers = "@ViewBag.recordUsers";
    //生成guid
    function sysGuid() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }
        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4() + "-" + S4() + S4() + S4());
    }
    //正则校验两位小数
    function clearNoNum(obj) {
        //先把非数字的都替换掉，除了数字和.
        obj.value = obj.value.replace(/[^\d.]/g, "");
        //保证只有出现一个.而没有多个.
        obj.value = obj.value.replace(/\.{2,}/g, ".");
        //必须保证第一个为数字而不是.
        obj.value = obj.value.replace(/^\./g, "");
        //保证.只出现一次，而不能出现两次以上
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        //只能输入两个小数
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');
        $(obj).trigger("change");
    }

    //bootstraptable 高度
    function tableHeight() {
        return $(window).height() * 0.86;
    }

    function ViewModel() {
        var self = this;
        self.iGuid = ko.observable("");
        self.iCompanyId = ko.observable("");
        self.iProjectId = ko.observable("");
        self.iCompanyName = ko.observable("");
        self.iProjectName = ko.observable("");
        self.iDate = ko.observable("");
        self.iEvent = ko.observable("");
        self.iType = ko.observable("");
        self.iApplicant = ko.observable("");
        self.iAmount = ko.observable("");
        self.iNote = ko.observable("");
        self.rowIndex = ko.observable("");
    }
    $(function () {
        //重置函数
        $("div.icon-reorder").click(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })
        //根据窗口调整表格高度
        $(window).resize(function () {
            $('#mytab').bootstrapTable('resetView', {
                height: tableHeight()
            })
        })

        //禁用功能
        if (window.userType != "超级管理员") {
            $("#iCompanyId").attr("disabled", true);
            $("#iProjectId").attr("disabled", true);
        }

        //弹窗日期绑定
        $('#iDate').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            clearBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 1,
            format: 'yyyy-mm-dd'
        });
        if (window.userType == "普通用户") { //当前日期三天以内
            var end = new Date();
            var start = new Date(end.getTime() - 3 * 24 * 60 * 60 * 1000);
            $('#iDate').datetimepicker("setStartDate", start);
            $('#iDate').datetimepicker("setEndDate", end);
        }

        //必填校验
        $("#iCompanyId").change(function () {
            var value = $("#iCompanyId").val();
            myViewModel.iCompanyName($("#iCompanyId").find("option:selected").text());
            if (value != "-") {
                $('#iCompanyId').removeClass("warning");
            }
            else {
                $('#iCompanyId').addClass("warning");
            }
        });
        $("#iProjectId").change(function () {
            var value = $("#iProjectId").val();
            myViewModel.iProjectName($("#iProjectId").find("option:selected").text());
            if (value != "-") {
                $('#iProjectId').removeClass("warning");
            }
            else {
                $('#iProjectId').addClass("warning");
            }
        });

        $("#iDate").change(function () {
            var value = $("#iDate").val();
            if (value.length > 0) {
                $('#iDate').removeClass("warning");
            }
            else {
                $('#iDate').addClass("warning");
            }
        });
        $("#iEvent").blur(function () {
            var value = $("#iEvent").val();
            if (value.length > 0) {
                $('#iEvent').removeClass("warning");
            }
            else {
                $('#iEvent').addClass("warning");
            }
        });
        $("#iType").blur(function () {
            var value = $("#iType").val();
            if (value.length > 0) {
                $('#iType').removeClass("warning");
            }
            else {
                $('#iType').addClass("warning");
            }
        });
        $("#iAmount").blur(function () {
            var value = $("#iType").val();
            if (value.length > 0) {
                $('#iAmount').removeClass("warning");
            }
            else {
                $('#iAmount').addClass("warning");
            }
        });
        $('#mytab').bootstrapTable({
            //url: "/FinanceAjax/GetAllJournal",//数据源
            dataField: "rows",//服务端返回数据键值 就是说记录放的键值是rows，分页时使用总记录数的键值为total
            sortName: "iUpdatedOn",//排序列
            sortOrder: "desc",
            cache: false,
            striped: true,//條紋行
            clickToSelect: true,//选择行即选择checkbox
            searchOnEnterKey: false,//ENTER键搜索
            height: tableHeight(),//高度调整
            search: false,//是否搜索
            pagination: false,//是否分页
            pageSize: 15,//单页记录数
            pageNumber: 1,//起始页
            pageList: [15, 100, 500, 1000, 10000],//分页步进值
            sidePagination: "server",//服务端分页
            contentType: "application/x-www-form-urlencoded",//请求数据内容格式 默认是 application/json 自己根据格式自行服务端处理
            dataType: "json",//期待返回数据类型
            method: "post",//请求方式
            searchAlign: "left",//查询框对齐方式
            queryParamsType: "limit",//查询参数组织方式
            showRefresh: false,//刷新按钮
            showColumns: false,//列选择按钮
            buttonsAlign: "left",//按钮对齐方式
            toolbar: "#toolbar",//指定工具栏
            toolbarAlign: "right",//工具栏对齐方式
            queryParams: function getParams(params) {
                return params;
            },
            columns: [
                 {
                     field: 'Number',
                     title: '序号',
                     formatter: function (value, row, index) {
                         return ($('#mytab').bootstrapTable('getOptions').pageNumber - 1) * $('#mytab').bootstrapTable('getOptions').pageSize + index + 1;
                     }
                 },
                 { field: "iGuid", title: "iGuid", visible: false, switchable: false }
                 , { field: "iCompanyId", title: "公司", visible: false }
                 , { field: "iCompanyName", title: "公司", visible: false }
                 , { field: "iProjectId", title: "项目", visible: false }
                 , { field: "iProjectName", title: "项目", visible: false }
                 , { field: "iDate", title: "日期" }
                 , { field: "iEvent", title: "事项" }
                 , { field: "iType", title: "科目" }
                 , { field: "iApplicant", title: "提报人" }
                 , { field: "iAmount", title: "金额" }
                 , { field: "iNote", title: "备注" }
                 , {
                     field: "operation", title: "操作", sortable: false, align: "center",
                     formatter: function (value, row, index) {
                         return '<a href="#" row=\'' + escape(JSON.stringify(row)) + '\' onclick="EditRow(\'' + index + '\',this)">修改</a>&nbsp;&nbsp;<a href="#" onclick="RemoveRow(\'' + row.iGuid + '\')">删除</a>';
                     }
                 }
            ],
            onClickRow: function (row, $element) {
                //$element是当前tr的jquery对象
                //$element.css("background-color", "green");
            },//单击row事件
            onDblClickRow: function (row, $element) {
                return;
            },
            locale: "zh-CN",//中文支持,
            detailView: false, //是否显示详情折叠
            detailFormatter: function (index, row, element) {
                var html = '';
                $.each(row, function (key, val) {
                    html += "<p>" + key + ":" + val + "</p>"
                });
                return html;
            },
            data: [],
            uniqueId: "iGuid"
        });

        if (window.userType != "普通用户") {
            $('#mytab').bootstrapTable('showColumn', 'iCompanyName');
            $('#mytab').bootstrapTable('showColumn', 'iProjectName');
        }
        $("#NewRecord").click(function () {
            $("#removeRecord").hide();

            $('#iDate').addClass("warning");
            $('#iEvent').addClass("warning");
            $('#iType').addClass("warning");
            $('#iAmount').addClass("warning");

            myViewModel.iGuid(sysGuid());
            myViewModel.iProjectId('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentProject');
            myViewModel.iCompanyId('@HRMS.WEB.Utils.SessionHelper.CurrentUser.CurrentCompany');
            myViewModel.iProjectName($("#iProjectId").find("option:selected").text());
            myViewModel.iCompanyName($("#iCompanyId").find("option:selected").text());
            myViewModel.iDate("");
            myViewModel.iEvent("");
            myViewModel.iType("");
            myViewModel.iApplicant("@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserName");
            myViewModel.iAmount("");
            myViewModel.iNote("");
            myViewModel.rowIndex("");

            if ($("#iCompanyId").val() == "-") {
                $('#iCompanyId').addClass("warning");
            }
            else {
                $('#iCompanyId').removeClass("warning");
            }
            if ($("#iProjectId").val() == "-") {
                $('#iProjectId').addClass("warning");
            }
            else {
                $('#iProjectId').removeClass("warning");
            }
            $("#addModalLabel").html("添加记录");
        });

        $("#SaveChanges").click(function () {
            var warnings = $(".warning");
            if (warnings && warnings.length > 0) {
                toastr.error('数据验证未通过！');
                return;
            }
            var obj = {};
            obj.iGuid = myViewModel.iGuid();
            obj.iProjectId = myViewModel.iProjectId();
            obj.iCompanyId = myViewModel.iCompanyId();
            obj.iProjectName = myViewModel.iProjectName();
            obj.iCompanyName = myViewModel.iCompanyName();
            obj.iDate = myViewModel.iDate();
            obj.iEvent = myViewModel.iEvent();
            obj.iType = myViewModel.iType();
            obj.iApplicant = myViewModel.iApplicant();
            obj.iAmount = myViewModel.iAmount();
            obj.iNote = myViewModel.iNote();
            if (myViewModel.rowIndex() == "") {
                $('#mytab').bootstrapTable('append', obj);
            }
            else {
                $('#mytab').bootstrapTable('updateRow', { index: myViewModel.rowIndex(), row: obj });
            }
            $('#addModal').modal('toggle');

            var datas = $('#mytab').bootstrapTable('getData', true);
            var sum = 0;
            datas.forEach(function (data) {
                sum += parseFloat(data.iAmount);
            })
            $('#totalThis').val(sum);

        });

        $("#SubmitApplication").click(function () {
            var data = $('#mytab').bootstrapTable('getData', true);
            if (data.length == 0) {
                toastr.error('请填写至少一条流水账信息！');
                return;
            }

            $(this).attr({ "disabled": "disabled" });
            var isManager = 0;
            if (managerUsers.split(';').indexOf('@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserId') > -1) {
                isManager = 1;
            }

            var para = {};
            var conditions = {};
            conditions.sys_approve = "1";
            conditions.sys_approvecn = "提交申请";
            conditions.sys_feedback = "提交申请";
            conditions.sys_summary = "合计：" + $('#totalThis').val();
            conditions.confirmUsers = confirmUsers;
            conditions.managerUsers = managerUsers;
            conditions.bossUsers = bossUsers;
            conditions.tellerUsers = tellerUsers;
            conditions.recordUsers = recordUsers;
            conditions.isManager = isManager;
            para.Conditions = conditions;
            para.ProcessInstanceID = ""; //important
            para.AppName = "";
            para.AppInstanceID = ""; //important
            para.ProcessGUID = "09e8624f-ff2d-cc98-0eaa-6a11f3f7d9bc";  //申请时必要 important
            para.UserID = "@HRMS.WEB.Utils.SessionHelper.CurrentUser.UserId";
            para.UserName = "";
            para.TaskID = "";  //important
            para.Other = JSON.stringify(data);

            $.ajax({
                url: "/BPMAjax/StartApplication",
                type: "POST",
                data: para,
                dataType: 'text',
                success: function (result) {
                    result = $.parseJSON(result);
                    if (result.success) {
                        toastr.success('申请成功！流程单号：【' + result.msg + '】');
                        //$('#mytab').bootstrapTable('removeAll');
                        setTimeout("window.location.href='/BPM/myapp'", 3000);
                    }
                    else {
                        toastr.error('申请失败！');
                    }
                    $("#SubmitApplication").removeAttr("disabled");
                }
            });
        });


        var myViewModel = new ViewModel();
        ko.applyBindings(myViewModel);

        window.EditRow = function (index, a) {
            if (window.userType == "超级管理员") {
                $("#iApplicant").removeAttr("readonly");
            }
            $("#addModalLabel").html("修改记录");
            $("#iProjectId").removeClass("warning");
            $('#iCompanyId').removeClass("warning");
            $("#iDate").removeClass("warning");
            $('#iEvent').removeClass("warning");
            $('#iType').removeClass("warning");
            $('#iAmount').removeClass("warning");
            var row = JSON.parse(unescape($(a).attr("row")));

            myViewModel.iGuid(row.iGuid);
            myViewModel.iProjectId(row.iProjectId);
            myViewModel.iCompanyId(row.iCompanyId);
            myViewModel.iDate(row.iDate);
            myViewModel.iEvent(row.iEvent);
            myViewModel.iType(row.iType);
            myViewModel.iApplicant(row.iApplicant);
            myViewModel.iAmount(row.iAmount);
            myViewModel.iNote(row.iNote);
            myViewModel.rowIndex(index);
            $('#addModal').modal('toggle');
        }

        window.RemoveRow = function (iguid) {
            if (confirm("确认要删除？")) {
                $('#mytab').bootstrapTable('removeByUniqueId', iguid);
                var datas = $('#mytab').bootstrapTable('getData', true);
                var sum = 0;
                datas.forEach(function (data) {
                    sum += parseFloat(data.iAmount);
                })
                $('#totalThis').val(sum);
            }
        }
    })
</script>
